@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-brand-primary: #1F2937;
  --color-brand-secondary: #111827;
  --color-brand-accent: #F97316;
  --color-brand-light: #F5F5F5;
  --color-brand-mid: #E5E5E5;
  --color-brand-border: #D4D4D4;
}

:root {
  --color-brand-primary: #1F2937;
  --color-brand-secondary: #111827;
  --color-brand-accent: #F97316;
  --color-brand-light: #F5F5F5;
  --color-brand-mid: #E5E5E5;
  --color-brand-border: #D4D4D4;
}